@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --default-layout-header-width: 1150px;
    --default-layout-header-height: 60px;
    --text-black: #000;
    --text-white: #fff;
    --red-bold: rgba(244, 42, 82, 1);
    --red-opacity: rgba(244, 42, 82, 0.8);

    --background-grey: rgb(241 241 242);
    --line-grey: rgb(167 167 171);
    --line-faint-grey: #e0e0e0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}
a[href] {
    text-decoration: none;
}
