.wrapper {
    width: 100%;
}
.container {
    width: var(--default-layout-header-width);
    margin: 0 auto;
    display: flex;
    margin-top: var(--default-layout-header-height);

    padding-top: 30px;
}
.content {
    flex: 1;
}
