.wrapper {
    margin: 8px 0;
    width: 100%;
    max-height: var(--max-height-wrap-popper-menu);
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    min-width: 215px;
    background-color: var(--background);
}
