.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    width: 100%;
}
.inner {
    display: flex;
    height: 100%;
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 15px;
}

.dot {
    font-size: 1.6rem;
    color: var(--text-black);
    padding: 0 10px;
}
.result-title {
    padding: 9px 16px;
}
.gap {
    display: flex;
    gap: 10px;
}
.dot-wrap {
    width: 250px;
}
.MessageSms,
.messenger {
    background-color: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 5px 10px;
}
.avatar-header {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
